<div class="background-top">
  <div class="background-image">
    <span class="coachpp col-xl-2 ">
      <img class="circlepp" src="{{coach.picture}}">
    </span>
  </div>
  </div>
<div class="container">
  <div class ="coachdetail col-xl-2 ">
    <p class="coachname">{{coach.name}} {{coach.lastname}} </p>
      <p class="coachlocation"><i class="material-icons">
          room
        </i>{{coach.zipcode}} {{coach.city}}</p>
        <ng-template [ngIf]="isUserAdmin()">
          <button type="button" class="btn btn-danger" (click)="deleteCoach()">Delete</button>
        </ng-template>
        <ng-template [ngIf]="!isUserAdmin()">
        <div class="input-group">
          <div class="input-group-prepend">
            <span role="button" class="input-group-text" (click)="onSendMessage(mymessage)">Send Message</span>
          </div>
          <textarea class="form-control" [(ngModel)]="mymessage" aria-label="With textarea"></textarea>
        </div>
      </ng-template>
  </div>
<ng-template [ngIf]="isUserAdmin()">
  <div class ="coachinfos col-xl-6 offset-xl-3">
          <form (ngSubmit)="updateCoach(f)" #f="ngForm" class="col-md-5 col-xl-4 offset-md-4 offset-xl-4">
              <div class="form-group">
                <label>Name</label>
                <input type="name" class="form-control" name="name" placeholder="Name" [(ngModel)]="coach.name">
              </div>
              <div class="form-group">
                <label>Lastname</label>
                <input type="lastname" class="form-control" name="lastname" placeholder="Lastname" [(ngModel)]="coach.lastname">
              </div>
              <div class="form-group">
                <label>Zipcode</label>
                <input type="zipcode" class="form-control" name="zipcode" placeholder="Zipcode" [(ngModel)]="coach.zipcode">
              </div>
              <div class="form-group">
                <label>City</label>
                <input type="city" class="form-control" name="City" [(ngModel)]="coach.city">
              </div>
              <!-- <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div> -->
              <div class="form-group">
                <label for="exampleTextarea">Activities</label>
                <textarea class="form-control" id="exampleTextarea" name="activities" rows="3" [(ngModel)]="coach.activities"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
  </div>
</ng-template>
<ng-template [ngIf]="!isUserAdmin()">
<div class ="coachinfos col-xl-6 offset-xl-4">
<app-conversation></app-conversation>
</div>
</ng-template>

</div>
