<div class="background-top">
  <div class="background-image">
    <span class="coachpp col-xl-2 ">
      <img class="circlepp" src="{{coach.picture}}">
    </span>
  </div>
  </div>
<div class="container-fluid">
  <div class ="coachdetail col-xl-2 offset-xl-1">
    <p class="coachname">{{coach.name}} {{coach.lastname}}</p>
      <p class="coachlocation"><i class="material-icons">
          room
          </i>{{coach.zipcode}} {{coach.city}}</p></div>
  <div class ="coachmetric col-xl-6"></div>
</div>