<header class="container-fluid">
<h1>
  My Coach
</h1>
</header>
<nav class="row justify-content-center sticky-top">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item nav-link "><a routerLink="/coaches">Home</a></li>
    <li class="nav-item nav-link "><a routerLink="/coaches">Coaches</a></li>
    <li class="nav-item nav-link "><a routerLink="/agenda">Agenda</a></li>
    <li> <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchContent" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="sendSearch()">Search</button>
    </form></li>
  </ul>
</nav>
<app-coaches></app-coaches>