<header class="container-fluid">
<h1>
  My Coach
</h1>
</header>
<nav class="navbar navbar-expand-lg row justify-content-center sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
  <ul class="nav nav-pills nav-fill mr-auto mt-2 mt-lg-0">
    <li class="nav-item nav-link "><a routerLink="/home">Home</a></li>
    <li class="nav-item nav-link "><a routerLink="/coaches">Coaches</a></li>
    <li class="nav-item nav-link "><a routerLink="/agenda">Agenda</a></li>
    <li> <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchContent" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="sendSearch()">Search</button>
    </form></li>
  </ul>
  </div>
</nav>
<router-outlet></router-outlet>
