@import "../../styles.scss";

header {
    background: $primary-color;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', 'Arial';
    font-size: 3.5rem;
}

nav {
    padding-left: 30rem;
    padding-right: 30rem;
    background-color: $secondary-color;
    color: white;
}

.btn {
    color: $primary;
    border-color: $primary;
}

ul li a {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: $primary;
    transition:0.3s all ease;
    
}