@import "../../styles.scss";

.row {
    margin-top: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}

.coachescard {
    background: #f3f6f9;
    height: 20rem;
    max-width: 100%;
    margin-bottom: 2rem;
}

.circlepp {
    width: 300px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    background: #f3f6f9;
    position: absolute;
    top:0px;

}

.circlepp img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
