/* You can add global styles to this file, and also import other style files */
color1 {
    color : #B24A5B;
}

color2 {
    color : #FFFA9D;
}

color3 {
    color : #FF8498;
}

color4 {
    color : #55A8CC;
}

color5 {
    color : #5396B2;
}